#languageDropdown {
    border-radius: 0.5rem;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    color: white;
    font-size: 1.6rem;
    cursor: pointer;
}

#languageDropdown::after {
    display: inline-block;
    margin-left: 0.3em;
    vertical-align: 0.2em;
    content: "";
    border-top: 0.3em solid white;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
    filter: none !important;
}

#languageDropdown:hover,
#languageDropdown:focus {
    background-color: rgba(255, 255, 255, 0.1) !important;
    outline: none !important;
}

.dropdown-menu .btn {
    padding: 0.25rem 1rem;
    font-size: 1rem;
    border-radius: 0 !important;
    color: black;
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: left;
}

.dropdown-menu .btn.active,
.dropdown-menu .btn:hover {
    background-color: #0d6efd;
    color: white;
}

.dropdown-menu .btn span {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}
